.date-chooser {
    -fx-background-color:linear-gradient(white,#DDDDDD);
    -fx-background-image: url("../img/date-picker-background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left bottom;
}

.label {
     -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
}

.calendar-cell {
    -fx-background-color: rgba(255,255,255,0.0);
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 6 6 6 6 ;
    -fx-text-fill: rgba(0,0,0,0.7);
    -fx-font: 16pt Arial;
}

.calendar-cell:hover {
    -fx-background-color: rgba(135,206,235,0.7);
    -fx-text-fill: white;
}

.calendar-cell:pressed {
    -fx-background-color: rgba(135,186,215,0.7);
    -fx-text-fill: white;
}

.calendar-cell-selected {
    -fx-background-color: rgba(105,176,195,0.7);
    -fx-text-fill: white;
}

.calendar-cell-today {
    -fx-background-color: rgba(155,155,19,0.7);
    -fx-text-fill: white;
}

.calendar-cell-inactive {
    -fx-text-fill: darkgray;
}

.button{
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
    -fx-background-color: rgba(205,205,205,0.7);
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
}

.button:pressed{
    -fx-background-color: rgba(180,180,180,0.7);
}

.button:hover{
    -fx-background-color: rgba(235,235,235,0.7);
}

.button:focused{
    -fx-background-color: rgba(205,205,205,0.7);

}